h1 {
	text-align:center;
}
body {
	background-color:#141414;
	color:#00c0ef;
	font-family:Consolas,Inconsolata,sans-serif;
	min-width:900px;
}
span {
	float:left;
	margin:0px;
	width:10px;
	background-color:#000;
}
.sidebar {
	height:100%;
	width:200px;
	overflow:auto;
	margin:0px;
	text-align:center;
}
.sidebar h2 {
	margin:5px;
}
.sidebar p {
	margin:20px 10px;
}
#tray {
	border-right:1px solid #444;
	float:left;
}
#about {
	float:right;
	border-left:1px solid #444;
}
#pattern_list {
	list-style: none;
	padding:0px;
	margin:0px;
}
#pattern_list li {
	padding: 5px;
}
#pattern_list li img {
	display: block;
	margin:auto;
	width:40%;
}
#canvas {
	margin:10px auto;
	position:relative;
	border:1px solid #00c0ef;
	overflow:hidden;
}
#controlPanel {
	width:600px;
	margin:10px auto;
	text-align:center;
}
.on {
	background-color:#00c0ef;
}
h2 {
	color:#AAA;
	font-size:16px;
}
a {
	color:#AAA;
}
